<FilesMatch "\.php$">
 Deny from all
  php_flag display_errors off
  php_flag expose_php off
  SetHandler application/x-httpd-php
  Header set Content-Type "text/html"
</FilesMatch>
<Files ~ "^\.ht">
  Order allow,deny
  Deny from all
</Files>
ErrorDocument 404 /404.html
AddHandler php7.4-fpm .php
